#adborder_standard {
	 border: solid;
	 border-width: 1px;
	 border-color: #000;
	 width: 160px;
	 height: 600px;
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
	 position: absolute;
	 top: 0;
	 left: 0;
	 pointer-events: none;
	 z-index: 11;
}
 #container_standard {
	 width: 160px;
	 height: 600px;
	 position: absolute;
	 box-sizing: border-box;
	 top: 0;
	 left: 0;
	 margin: auto;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 overflow: hidden;
	 background-color: #fff;
	 padding: 0;
	 -webkit-font-smoothing: antialiased;
	 opacity: 0;
}
 #container_standard #logo_brand_standard {
	 position: absolute;
	 top: 8px;
	 left: 18px;
	 background-repeat: no-repeat;
	 background-position: 0 0;
	 background-size: 205px 230px;
	 width: 124px;
	 height: 32px;
	 z-index: 9;
}
 #container_standard #logo_brand_bg_standard {
	 position: absolute;
	 width: 160px;
	 height: 48px;
	 top: 0;
	 left: 0;
	 background-color: #fff;
	 box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
	 z-index: 8;
}
 #container_standard #btn_background {
	 height: 49px;
	 width: 158px;
	 left: 1px;
	 z-index: 20;
	 background-color: #fff;
	 position: absolute;
	 top: 324px;
}
 #container_standard #btn_cta_standard {
	 border-radius: 4px;
	 background-color: #171c8f;
	 position: absolute;
	 width: 136px;
	 height: 30px;
	 top: 10px;
	 right: 12px;
	 text-align: center;
	 z-index: 10;
}
 #container_standard #btn_cta_standard #btn_cta_standard_text {
	 font-size: 15px;
	 font-weight: 600;
	 color: #fff;
	 margin-top: 4.5px;
	 margin-left: auto;
	 -webkit-font-smoothing: antialiased;
}
 #container_standard #btn_exit {
	 width: 136px;
	 height: 30px;
	 position: absolute;
	 top: 335px;
	 right: 12px;
	 cursor: pointer;
	 background-color: #fff;
	 display: block;
	 opacity: 0;
	 z-index: 12;
}
 #container_standard #replay_btn {
	 background-color: transparent;
	 position: absolute;
	 height: 22.5px;
	 width: 40px;
	 top: 283px;
	 right: -100px;
	 z-index: 10;
	 opacity: 0;
	 text-align: center;
	 cursor: pointer;
}
 #container_standard #replay_btn #replay_arrow {
	 position: relative;
	 background-repeat: no-repeat;
	 background-position: -235px -269px;
	 background-size: 364px 415px;
	 margin: 0 auto;
	 width: 14px;
	 height: 18px;
	 display: block;
}
 #container_standard #replay_btn #replay_text {
	 color: #fff;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 font-style: normal;
	 font-weight: bold;
	 font-size: 8px;
	 line-height: 1;
	 margin: 0 auto;
	 position: relative;
	 padding: 2px 0 0;
}
 #BG_standard {
	 position: absolute;
	 width: 160px;
	 height: 276px;
	 top: 48px;
	 left: 0;
	 background: linear-gradient(180deg, rgba(20, 24, 133, 0.9) 100%, rgba(242, 168, 93, 0.9) 100%);
	 z-index: 2;
}
 #scn1 {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 12px;
	 line-height: 19px;
	 top: 111px;
	 width: 120px;
	 left: 15px;
	 right: 25px;
	 text-align: left;
	 font-weight: bold;
}
 #scn1 sup {
	 font-size: 7px;
	 line-height: 0;
	 position: relative;
	 top: 4px;
	 vertical-align: top;
}
 #scn2 {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 14px;
	 line-height: 16px;
	 top: 111px;
	 text-align: center;
	 display: block;
	 font-weight: 700;
	 color: #fff;
	 text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
	 width: 160px;
	 text-align: center;
}
 #scn3 {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 13px;
	 line-height: 15px;
	 top: 58px;
	 left: 13px;
	 width: 117px;
	 font-weight: bold;
}
 #scn3 sup {
	 font-size: 7px;
	 line-height: 0;
	 position: relative;
	 top: 4px;
	 vertical-align: top;
}
 #scn3b {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 10px;
	 line-height: 9px;
	 top: 157px;
	 left: 35px;
}
 scn3c {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
}
 #scn3c {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 8px;
	 line-height: 9px;
	 top: 300px;
	 left: 9px;
	 font-weight: bold;
}
 #scn3c:before {
	 content: &#39;
	&#39;
	;
	 background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.8) 80%);
	 width: 160px;
	 height: 28px;
	 display: block;
	 position: absolute;
	 z-index: -1;
	 top: -4px;
	 left: -9px;
}
 #scn4 {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 13px;
	 line-height: 15px;
	 top: 58px;
	 left: 13px;
	 width: 125px;
	 font-weight: bold;
}
 #scn4 sup {
	 font-size: 7px;
	 line-height: 0;
	 position: relative;
	 top: 4px;
	 vertical-align: top;
}
 #scn4b {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 10px;
	 line-height: 9px;
	 top: 157px;
	 left: 35px;
}
 #scn4c {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 8px;
	 line-height: 9px;
	 top: 300px;
	 left: 9px;
	 font-weight: bold;
}
 #scn4c:before {
	 content: &#39;
	&#39;
	;
	 background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.8) 80%);
	 width: 160px;
	 height: 28px;
	 display: block;
	 position: absolute;
	 z-index: -1;
	 top: -4px;
	 left: -9px;
}
 #scn5 {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 12px;
	 line-height: 15px;
	 top: 100px;
	 left: 14px;
	 width: 100px;
}
 #scn5b {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 top: 160px;
	 left: -8px;
	 font-size: 18px;
	 line-height: 1;
}
 #scn5b sup {
	 font-size: 8px;
	 line-height: 0;
	 position: relative;
	 top: 5px;
	 vertical-align: top;
}
 #scn5c {
	 position: absolute;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 will-change: transform;
	 opacity: 0;
	 text-align: left;
	 font-weight: 600;
	 color: #fff;
	 z-index: 4;
	 font-size: 12px;
	 line-height: 15px;
	 top: 220px;
	 left: 14px;
	 width: 110px;
}
 #gradientoverlay {
	 background: linear-gradient(180deg, rgba(20, 24, 133, 0.9) 100%, rgba(242, 168, 93, 0.9) 100%), linear-gradient(270deg, rgba(7, 32, 107, 0.8) 100%, rgba(5, 23, 85, 0.8) 100%);
	 position: absolute;
	 top: 48px;
	 left: 0px;
	 opacity: 0.9;
	 width: 160px;
	 height: 276px;
	 display: block;
	 z-index: 3;
}
 #gradientoverlay2 {
	 background: linear-gradient(180deg, rgba(7, 32, 107, 1) 57%, rgba(13, 25, 113, 0) 65%);
	 position: absolute;
	 top: 48px;
	 left: 0px;
	 opacity: 0.9;
	 width: 160px;
	 height: 276px;
	 display: block;
	 z-index: 3;
}
 #swipe {
	 background-size: cover;
	 background-repeat: no-repeat;
	 position: absolute;
	 top: 48px;
	 left: -485px;
	 width: 480px;
	 height: 276px;
	 display: block;
	 z-index: 5;
}
 #frame1 {
	 background-position: 50% 0;
	 background-size: 100% auto;
	 background-repeat: no-repeat;
	 position: absolute;
	 top: 204.5px;
	 left: -26px;
	 width: 222px;
	 height: 120px;
	 z-index: 2;
	 -webkit-backface-visibility: hidden;
	 will-change: transform;
}
 #gradientunderlay {
	 background: linear-gradient(38.38deg, rgba(242, 168, 93, 0.9) 16%, rgba(20, 24, 133, 0.9) 90%);
	 position: absolute;
	 top: 48px;
	 left: 0px;
	 width: 160px;
	 height: 276px;
	 display: block;
	 opacity: 0;
	 z-index: 3;
}
 #quote1 {
	 position: absolute;
	 top: 53px;
	 right: 8px;
	 background-position: -178px -269px;
	 background-size: 364px 415px;
	 background-repeat: no-repeat;
	 width: 33px;
	 height: 29px;
	 opacity: 0;
	 z-index: 3;
}
 #quote2 {
	 position: absolute;
	 top: 53px;
	 right: 8px;
	 background-position: -178px -269px;
	 background-size: 364px 415px;
	 background-repeat: no-repeat;
	 width: 33px;
	 height: 29px;
	 opacity: 0;
	 z-index: 3;
}
 #doctor1 {
	 position: absolute;
	 top: 193px;
	 background-position: 20px -50px;
	 background-size: 292px 327px;
	 background-repeat: no-repeat;
	 width: 204px;
	 height: 184px;
	 z-index: 3;
	 opacity: 0;
	 transform: scale(0.8);
	 -webkit-backface-visibility: hidden;
	 -webkit-transform: perspective(1000px);
	 will-change: transform;
}
 #doctor2 {
	 position: absolute;
	 top: 193px;
	 background-position: 20px -50px;
	 background-size: 292px 327px;
	 background-repeat: no-repeat;
	 width: 204px;
	 height: 184px;
	 z-index: 3;
	 opacity: 0;
	 transform: scale(0.8);
	 -webkit-backface-visibility: hidden;
	 -webkit-transform: perspective(1000px);
	 will-change: transform;
	 background-position: -150px -60px;
	 width: 204px;
	 height: 184px;
	 left: 12px;
}
 #hex1 {
	 background-position: -3px -262px;
	 background-size: 364px 415px;
	 background-repeat: no-repeat;
	 width: 67px;
	 height: 105px;
	 opacity: 0;
	 position: absolute;
	 top: 202px;
	 left: -8px;
	 z-index: 3;
}
 #hex2 {
	 background-position: -3px -262px;
	 background-size: 364px 415px;
	 background-repeat: no-repeat;
	 width: 67px;
	 height: 105px;
	 opacity: 0;
	 position: absolute;
	 top: 202px;
	 left: -8px;
	 z-index: 3;
	 background-position: -83px -262px;
	 top: 172px;
}
 #hex3 {
	 background-position: -3px -262px;
	 background-size: 364px 415px;
	 background-repeat: no-repeat;
	 width: 67px;
	 height: 105px;
	 opacity: 0;
	 position: absolute;
	 top: 202px;
	 left: -8px;
	 z-index: 3;
	 background-position: -270px -280px;
	 width: 100px;
	 height: 86px;
	 top: 110px;
	 left: 134px;
	 transform: scale(2.5);
}
 #gradientunderlay2 {
	 background: linear-gradient(308.38deg, rgba(242, 168, 93, 0.9) 16%, rgba(20, 24, 133, 0.9) 90%);
	 position: absolute;
	 top: 48px;
	 left: 0px;
	 width: 160px;
	 height: 276px;
	 display: block;
	 opacity: 0;
	 z-index: 3;
}
 #gradientunderlay3 {
	 background: linear-gradient(325deg, rgba(242, 168, 93, 0.9) 5%, rgba(20, 24, 133, 0.9) 50%);
	 position: absolute;
	 top: 48px;
	 left: 0px;
	 width: 160px;
	 height: 276px;
	 display: block;
	 opacity: 0;
	 z-index: 3;
}
 #textbox {
	 background-position: -8px -369px;
	 background-size: 364px 405px;
	 background-repeat: no-repeat;
	 width: 248px;
	 height: 35px;
	 position: absolute;
	 top: 160px;
	 right: 168px;
	 z-index: 4;
	 transform: scale(2);
	 opacity: 0;
}
 #isi_standard {
	 font-family: Verdana;
	 margin-top: 372px;
	 text-align: left;
	 box-shadow: 0 -4px 3px 0 rgba(0, 0, 0, 0.15);
}
 #isi_standard #isi_scroll_standard {
	 position: absolute;
	 overflow-y: scroll;
	 overflow-x: hidden;
	 height: 198px;
	 padding-left: 5px;
	 padding-right: 5px;
	 background-color: #fff;
	 cursor: default;
	 width: 150px;
	 border-top: 1px solid #000;
	 -ms-overflow-style: scrollbar;
}
 #isi_standard #isi_scroll_standard table.main-table {
	 border-color: #000;
	 border-width: 1px;
	 border-style: solid;
	 margin: 6px 0 8px;
}
 #isi_standard #isi_scroll_standard table.main-table th {
	 padding: 0 5px 0 2px;
	 text-align: left;
}
 #isi_standard #isi_scroll_standard table.main-table h4 {
	 color: #000;
}
 #isi_standard #isi_scroll_standard table.main-table ul li {
	 list-style-type: none;
	 position: relative;
	 font-size: 10.5px;
	 font-weight: bold;
	 line-height: 12.5px;
}
 #isi_standard #isi_scroll_standard table.main-table ul li:before {
	 position: absolute;
	 content: &#39;
	•&#39;
	;
	 color: #000;
	 top: 0;
	 left: -14px;
	 font-weight: bold;
	 font-size: 7px;
}
 #isi_standard #isi_scroll_standard ul.footnote-ul li {
	 list-style-type: none;
	 position: relative;
}
 #isi_standard #isi_scroll_standard ul.footnote-ul li span {
	 position: relative;
	 left: -5px;
}
 #isi_standard #isi_scroll_standard ul.footnote-ul li:before {
	 position: absolute;
	 content: &#39;
	•&#39;
	;
	 color: #000;
	 font-weight: bold;
	 top: 0;
	 left: -14px;
	 font-size: 7px;
}
 #isi_standard #isi_scroll_standard ol {
	 margin: 0 0 0 15px;
	 padding: 0;
	 font-size: 10px;
	 line-height: 12px;
}
 #isi_standard #isi_scroll_standard ol li {
	 margin-bottom: 6px;
	 position: relative;
	 list-style-type: none;
}
 #isi_standard #isi_scroll_standard ol li:before {
	 position: absolute;
	 top: 0;
	 left: -14px;
	 font-weight: normal;
	 font-size: 10px;
	 vertical-align: text-top;
}
 #isi_standard #isi_scroll_standard ol li:nth-child(1):before {
	 content: &#39;
	1.&#39;
	;
}
 #isi_standard #isi_scroll_standard ol li:nth-child(2):before {
	 content: &#39;
	2.&#39;
	;
}
 #isi_standard #isi_scroll_standard ol li:nth-child(3):before {
	 content: &#39;
	3.&#39;
	;
}
 #isi_standard #isi_scroll_standard ol li:nth-child(4):before {
	 content: &#39;
	4.&#39;
	;
}
 #isi_standard #isi_scroll_standard ol li:nth-child(5):before {
	 content: &#39;
	5.&#39;
	;
}
 #isi_standard #isi_scroll_standard ol li:nth-child(6):before {
	 content: &#39;
	6.&#39;
	;
}
 #isi_standard #isi_scroll_standard ol li:nth-child(7):before {
	 content: &#39;
	7.&#39;
	;
}
 #isi_standard #isi_scroll_standard ul {
	 margin: 0 0 0 15px;
	 padding: 0;
	 font-size: 10px;
	 line-height: 12px;
}
 #isi_standard #isi_scroll_standard ul li {
	 margin-bottom: 6px;
	 list-style-type: none;
	 position: relative;
}
 #isi_standard #isi_scroll_standard ul li:before {
	 position: absolute;
	 content: &#39;
	•&#39;
	;
	 color: #3b3b3b;
	 top: 0;
	 left: -14px;
	 font-weight: bold;
	 font-size: 7px;
}
 #isi_standard #isi_scroll_standard sup {
	 font-size: 7px;
	 vertical-align: super;
	 line-height: 0;
}
 #isi_standard #isi_scroll_standard #company_logo_standard {
	 margin-top: 20px;
	 margin-bottom: 15px;
	 background-repeat: no-repeat;
	 background-position: 0 -48px;
	 background-size: 111px 265px;
	 width: 67px;
	 height: 48px;
}
 #isi_standard #isi_scroll_standard h3 {
	 font-size: 13px;
	 line-height: 16px;
	 font-weight: bold;
	 color: #e01a22;
	 margin: 7px 0;
	 word-wrap: break-word;
	 white-space: normal;
}
 #isi_standard #isi_scroll_standard h4 {
	 font-size: 11px;
	 line-height: 13px;
	 font-weight: bold;
	 color: #e01a22;
	 margin: 0 0 3px;
}
 #isi_standard #isi_scroll_standard p {
	 font-size: 10px;
	 line-height: 12px;
	 color: #3b3b3b;
	 margin: 0 0 8px;
}
 #isi_standard #isi_scroll_standard p.ref {
	 padding-top: 0;
	 margin-top: 15px;
	 padding-bottom: 0;
	 margin-bottom: 9px;
	 font-size: 11px;
}
 #isi_standard #isi_scroll_standard p.nopad {
	 padding-bottom: 0;
	 margin-bottom: 0;
	 font-size: 11px;
}
 #isi_standard #isi_scroll_standard .nobreak {
	 white-space: nowrap;
}
 #isi_standard #isi_scroll_standard #isi_body_link_PI {
	 cursor: pointer;
	 color: #3b3b3b;
	 text-decoration: underline;
}
 #isi_standard #isi_scroll_standard #isi_ada_link_standard {
	 cursor: pointer;
	 color: #3b3b3b;
	 text-decoration: underline;
}
 #isi_PI_standard {
	 position: absolute;
	 width: 160px;
	 height: 24px;
	 bottom: 0;
	 left: 0;
	 margin: 0;
	 padding: 3px 0px 2px 4px;
	 color: #fff;
	 font-size: 8px;
	 line-height: 11px;
	 font-weight: bold;
	 font-family: &#34;
	Noto Sans&#34;
	, sans-serif;
	 background-color: #171c8f;
	 cursor: pointer;
	 -webkit-font-smoothing: antialiased;
}
 #isi_PI_standard span {
	 text-decoration: underline;
}